/*FLAT LOOK (remove gradients, new colors, etc.)*/

.zen .zen-tabMenu .zen-active {
    background-image: none;
}

.zen .zen-headerBottom {
    background: white;
}

.bPageTitle .metadata {
    background: #ececec;
}

.todoList {
    background: none;
}

body .btnSharing, body .btnImportant {
    background: orange;
}

.phHeaderCustomLogo #helpNavLabel, .phHeaderCustomLogo #notificationsNavLabel, .phHeaderCustomLogo #userNavLabel, body .phHeaderCustomLogo .multiforce .navLinks a {
    color: white;
}

#sidebarDiv .sidebarModuleHeader, #sidebarDiv .sidebarModuleHeader h2 {
    background: #263238;
    border-radius: 5px;
}

#sidebarDiv .sidebarModule .sidebarModuleBody {
    background: #f1f1f1;
    border-radius: 5px;
}


/*HIDING ELEMENTS*/


/*Left panel in main tab*/

#sidebarCell {
    display: none;
}


/*Followers in case tab*/

.entityFeedLayout .rightContent {
    padding-right: 30px;
    display: none;
}


/*SPACE OPTIMIZATION*/

.detailList .requiredInput textarea, .detailList > .requiredInput .requiredBlock {
    min-height: 300px;
}

.entityFeedLayout .lowerMainSection {
    width: 100%
}

.entityFeedLayout .centerContent {
    width: 100%;
}

.mainContent .rightContent {
    width: 20%;
}

.publishercontainer {
    max-width: 100%;
}

.feedcontainer {
    max-width: none;
}

.eCurrentMilestoneStatus {
    padding: 0;
}

.efhpCenterTopRow {
    font-size: 1.5em;
}

.efhpCenterTopRow {
    border-bottom: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-bottom: 0.5em;
}

.efhpCenterTopRow span:nth-child(3) {
    font-weight: bold;
}

.efhpRightContent {
    font-size: 120%;
}

.efhpRightContent .efhpFieldLabel {
    width: auto;
}

.efhpTitle {
    font-size: 1.5em;
}


/*Center green box with Done!*/

.allMilestonesComplete {
    line-height: 145px;
}


/*MODAL DIALOGS*/

#InlineEditDialog {
    max-width: 100% !important;
    width: 70% !important;
    height: 50%!important;
}

.cssDialog {
    top: 25%;
    left: 50%;
}

#InlineEditDialog textarea {
    min-height: 200px;
    height: 350px;
    width: 100%;
    min-width: 25%;
    /*Font size used in dialogs*/
    font-size: 1.2em;
}


/*Bigger dialog buttons*/

#InlineEditDialog_buttons > input {
    padding: 10px 17px 10px 17px;
    margin-left: 10px;
}


/*OK in bold*/

#InlineEditDialog_buttons > input[value='OK'] {
    font-weight: bold;
}


/*FEED*/


/*Feed container size limited and with scroll*/

.feedcontainer .feeditemcontent {
    max-height: 480px;
    overflow-y: auto;
}


/*Size of show less, more items*/

.feedcontainer .feeditemtextadditional {
    max-height: 600px;
}


/*Line to split feed items*/

.feedcontainer .feeditem {
    border-color: lightgrey;
    border-width: 1px;
    padding-top: 1em;
}


/*More space for file attachment panel*/

.eFilesWidget>.eWidgetBody {
    height: 100%
}


/*New comment*/

.casePublisher .detailContent .casePublisherText {
    height: 250px;
}


/*NEW CASE*/

.caseTab.editPage .lookupInput > input {
    width: 300px;
}

.caseTab.editPage textarea, .caseTab.editPage #cas14 {
    width: 80%;
}


/*CASE NUMBER AND STATUS HEADER*/


/*Remove manual resize*/

.efhpDragHandle {
    visibility: hidden;
}


/*Set width of case details container*/

.efhpCenterContent {
    width: 65%!important;
}


/*Set width of status and priority container*/

.efhpRightContent {
    width: 25%!important;
    border-bottom: solid;
    border-color: lightgrey;
    border-width: 1px;
}


/*Post title in bold*/

.feedcontainer .feeditem .preamblecontainer.displayblock {
    font-weight: bold;
}


/*Break long links*/

.efodBody {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


/*Case title text input*/

#cas14 {
    width: 80%!important;
}


/*Autocomplete on top of the text editor always visible*/

#cke_publisherRichTextEditor_autoCompleteBoxId {
    position: fixed;
    top: 5px!important;
    left: 5px!important;
    width: 500px!important;
    min-height: 20em;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}


/*Add title to autocomplete box*/

#cke_publisherRichTextEditor_autoCompleteBoxId::before {
    content: "Autocomplete";
    font-weight: bold;
    font-size: 1.5em;
    padding: 12px;
    line-height: 1.7em;
}